$primary-color: #409eff;
$primary-color-hover: lighten($primary-color, 10%);
$success-color: #67c23a;
$success-color-hover: lighten($success-color, 10%);
$warning-color: #e6a23c;
$warning-color-hover: lighten($warning-color, 10%);
$info-color: #909399;
$info-color-hover: lighten($info-color, 10%);
$danger-color: #f56c6c;
$danger-color-hover: lighten($danger-color, 10%);
